p{
    border: 5px;
    background-color: cornflowerblue;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
}
h3{
    text-align: center;
}

img{
    height: 30%;
    width: 30%;
    margin: 5px;
    
}